In [39]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 262.6 kB/s eta 0:00:46
     --------------------------------------- 0.0/11.9 MB 262.6 kB/s eta 0:00:46
     --------------------------------------- 0.0/11.9 MB 262.6 kB/s eta 0:00:46
     --------------------------------------- 0.1/11.9 MB 233.8 kB/s eta 0:00:51
     --------------------------------------- 0.1/11.9 MB 500.5 kB/s eta 0:00:24
     - -------------------------------------- 0.6/11.9 MB 1.8 MB/s eta 0:00:07
     --- ------------------------------------ 1.1/11.9 MB 2.9 MB/s eta 0:00:04
     ----- ---------------------------------- 1.5/11.9 MB 3.7 MB/s eta 0:00:03
     ------ --------------------------------- 2.0/11.9 MB 4.5 MB/s eta 0:00:03
     -------- ------------------------------- 2.6/11.9 MB 5.2 MB/s eta 0:00:02
     ---------- ----------------------------- 3.2/11.9 MB 5.9 MB/s eta 0:00:02
     ------------- -------------------------- 3.9/11.9 MB 6.5 MB/s eta 0:00:02
     --------------- ------------------------ 4.5/11.9 MB 7.0 MB/s eta 0:00:02
     ----------------- ---------------------- 5.0/11.9 MB 7.3 MB/s eta 0:00:01
     ------------------ --------------------- 5.5/11.9 MB 7.6 MB/s eta 0:00:01
     -------------------- ------------------- 6.1/11.9 MB 7.8 MB/s eta 0:00:01
     ---------------------- ----------------- 6.7/11.9 MB 8.1 MB/s eta 0:00:01
     ------------------------ --------------- 7.3/11.9 MB 8.3 MB/s eta 0:00:01
     -------------------------- ------------- 7.9/11.9 MB 8.6 MB/s eta 0:00:01
     ---------------------------- ----------- 8.4/11.9 MB 8.7 MB/s eta 0:00:01
     ------------------------------ --------- 8.9/11.9 MB 8.8 MB/s eta 0:00:01
     -------------------------------- ------- 9.6/11.9 MB 9.0 MB/s eta 0:00:01
     ---------------------------------- ----- 10.2/11.9 MB 9.2 MB/s eta 0:00:01
     ----------------------------------- --- 10.6/11.9 MB 12.1 MB/s eta 0:00:01
     ------------------------------------ -- 11.1/11.9 MB 12.1 MB/s eta 0:00:01
     --------------------------------------  11.7/11.9 MB 11.7 MB/s eta 0:00:01
     --------------------------------------  11.8/11.9 MB 11.9 MB/s eta 0:00:01
     --------------------------------------- 11.9/11.9 MB 11.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247958 sha256=dd673b9a75c04ed623d8157f53c08eadecccf8b6e10335f4cc5e38e7ea0a97be
  Stored in directory: c:\users\j\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [17]:
# csv to dataframe
df_buses_1=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busDetail_A.csv")
df_buses_2=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busDetail_AS.csv")
df_buses_3=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busDetail_G.csv")
df_buses_4=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busDetail_H.csv")
df_buses_5=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busDetail_k.csv")
df_buses_6=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busDetail_R.csv")
df_buses_7=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busDetail_SB.csv")
df_buses_8=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busDetail_T.csv")
df_buses_9=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busDetail_UP.csv")
df_buses_10=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busDetail_WB.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,FRESHBUS,Electric A/C Seater (2+2),23:10,05:35,06h 25m,1629,10 Seats available,4.5\n492,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
1,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),23:50,05:35,05h 45m,INR 929,16 Seats available,4.4\n918,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
2,IntrCity SmartBus,Scania AC Multi Axle Sleeper (2+1),23:59,06:30,06h 31m,INR 1459,11 Seats available,4.5\n473,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
3,AdZingbus Plus,A/C Sleeper (2+1),17:30,00:50,07h 20m,1514,22 Seats available,4.5\n13,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
4,Zingbus Plus,A/C Seater / Sleeper (2+1),23:38,06:05,06h 27m,1109,20 Seats available,4.5\n472,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada
...,...,...,...,...,...,...,...,...,...,...
4111,Shyamoli Paribahan Pvt Ltd,VE A/C Seater (2+2),23:30,04:30,05h 00m,INR 799,6 Seats available,4.4\n349,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
4112,Express Line,Volvo 9600 A/C Seater (2+2),23:45,04:45,05h 00m,INR 509,6 Seats available,4.4\n320,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
4113,Mayuri Express,AC Seater (2+2),23:15,04:30,05h 15m,539,13 Seats available,4.2\n187,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
4114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
4115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha

In [21]:
#Data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4114 non-null   object
 1   Bus_type         4114 non-null   object
 2   Start_time       4114 non-null   object
 3   End_time         4114 non-null   object
 4   Total_duration   4114 non-null   object
 5   Price            4114 non-null   object
 6   Seats_Available  4114 non-null   object
 7   Ratings          4114 non-null   object
 8   Route_link       4116 non-null   object
 9   Route_name       4116 non-null   object
dtypes: object(10)
memory usage: 321.7+ KB

In [23]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       1629.0
1        929.0
2       1459.0
3       1514.0
4       1109.0
         ...
4111     799.0
4112     509.0
4113     539.0
4114       0.0
4115       0.0
Name: Price, Length: 4116, dtype: float64

In [25]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\J\AppData\Local\Temp\ipykernel_18752\2577861265.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [27]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4114 non-null   object
 1   Bus_type         4114 non-null   object
 2   Start_time       4114 non-null   object
 3   End_time         4114 non-null   object
 4   Total_duration   4114 non-null   object
 5   Price            4114 non-null   float64
 6   Seats_Available  4114 non-null   object
 7   Ratings          4116 non-null   float64
 8   Route_link       4116 non-null   object
 9   Route_name       4116 non-null   object
dtypes: float64(2), object(8)
memory usage: 321.7+ KB

In [29]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [31]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [33]:
# change dataframe to csv
path=r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busdetail.csv"
Final_df.to_csv(path,index=False)

In [43]:
con= mysql.connector.connect(
    host="localhost",
    user="root",
    password="Karthick@04",
    autocommit=True
    )
print(con)


#Alternative pymysql connector
con= pymysql.connect(
    host="localhost",
    user="root",
    password="Karthick@04",
    autocommit=True
    )
print(con)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001AE4BA43320>

NameError: name 'pymysql' is not defined

In [45]:
mycursor=con.cursor()

In [47]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [49]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('dte38',)
('information_schema',)
('jai',)
('mysql',)
('performance_schema',)
('red_bus_details',)
('sakila',)
('sys',)
('task',)
('task1',)
('test',)
('world',)

In [51]:
mycursor.execute("USE RED_BUS_DETAILS")

In [53]:
# Table Creation
mycursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [59]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

mycursor.executemany(insert_query, data)

con.commit()

print("Values inserted successfully")

Values inserted successfully