In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [3]:
# csv to dataframe
df_buses_1=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\ALL\K.csv")
df_buses_2=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\ALL\T.csv")
df_buses_3=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\ALL\A.csv")
df_buses_4=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\ALL\R.csv")
df_buses_5=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\ALL\G.csv")
df_buses_6=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\ALL\SB.csv")
df_buses_7=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\ALL\AS.csv")
df_buses_8=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\ALL\H.csv")
df_buses_9=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\ALL\UP.csv")
df_buses_10=pd.read_csv(r"C:\Users\J\Desktop\GUVI\Project\RedBus\ALL\WB.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,01:00,10h 00m,INR 620,18 Seats available,3.9\n15,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 97,Swift Deluxe Non AC Air Bus (2+2),16:00,00:45,08h 45m,INR 567,7 Seats available,3.2\n23,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 380,Swift Deluxe Non AC Air Bus (2+2),16:15,01:00,08h 45m,INR 567,6 Seats available,2.7\n3,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 789,Super Fast Non AC Seater (2+3),20:00,03:45,07h 45m,INR 473,15 Seats available,3.8\n82,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 1586,Super Express Non AC Seater Air Bus (2+2),21:30,06:55,09h 25m,INR 640,26 Seats available,3.8\n35,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
3233,Parameswar Travels,A/C Seater Push Back (2+3),23:45,05:00,05h 15m,285,42 Seats available,3.4\n119,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
3234,Snemita Paribahan (Bhorpet),AC Seater (2+2),23:55,04:45,04h 50m,320,29 Seats available,3.5\n16,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
3235,Basu Travels,A/C Seater / Sleeper (2+2),23:59,05:00,05h 01m,INR 300,34 Seats available,3.5\n41,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
3236,Parameswar Travels,A/C Seater Push Back (2+3),23:59,05:00,05h 01m,285,56 Seats available,3.0\n124,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
3237,Sagufta Travels (Atithi),A/C Seater Push Back (2+3),23:59,05:00,05h 01m,INR 315,41 Seats available,3.6\n29,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha

In [5]:
#Data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3238 entries, 0 to 3237
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         3238 non-null   object
 1   Bus_type         3238 non-null   object
 2   Start_time       3238 non-null   object
 3   End_time         3238 non-null   object
 4   Total_duration   3238 non-null   object
 5   Price            3238 non-null   object
 6   Seats_Available  3238 non-null   object
 7   Ratings          3238 non-null   object
 8   Route_link       3238 non-null   object
 9   Route_name       3238 non-null   object
dtypes: object(10)
memory usage: 253.1+ KB

In [7]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       620.0
1       567.0
2       567.0
3       473.0
4       640.0
        ...
3233    285.0
3234    320.0
3235    300.0
3236    285.0
3237    315.0
Name: Price, Length: 3238, dtype: float64

In [9]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\J\AppData\Local\Temp\ipykernel_2708\2577861265.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [11]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3238 entries, 0 to 3237
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         3238 non-null   object
 1   Bus_type         3238 non-null   object
 2   Start_time       3238 non-null   object
 3   End_time         3238 non-null   object
 4   Total_duration   3238 non-null   object
 5   Price            3238 non-null   float64
 6   Seats_Available  3238 non-null   object
 7   Ratings          3238 non-null   float64
 8   Route_link       3238 non-null   object
 9   Route_name       3238 non-null   object
dtypes: float64(2), object(8)
memory usage: 253.1+ KB

In [13]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [15]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [17]:
# change dataframe to csv
path=r"C:\Users\J\Desktop\GUVI\Project\RedBus\Bus_Details\df_busdetail.csv"
Final_df.to_csv(path,index=False)

In [19]:
import pymysql
#Alternative pymysql connector
con= pymysql.connect(
    host="localhost",
    user="root",
    password="Karthick@04",

    )
print(con)

<pymysql.connections.Connection object at 0x000001F0ABEC9100>

In [21]:
mycursor=con.cursor()

In [23]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

1

In [25]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('dte38',)
('information_schema',)
('jai',)
('mysql',)
('performance_schema',)
('red_bus_details',)
('sakila',)
('sys',)
('task',)
('task1',)
('test',)
('world',)

In [27]:
mycursor.execute("USE RED_BUS_DETAILS")

0

In [29]:
# Table Creation
mycursor.execute('''CREATE TABLE IF NOT EXISTS bus_details1(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [31]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

mycursor.executemany(insert_query, data)

con.commit()

print("Values inserted successfully")

Values inserted successfully